<head>
    <title></title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../bootstrap/css/cliamStyleSheet.css" rel="stylesheet" />
</head>

<body>
    <form id="form1" runat="server">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sideBorder">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="habiblogo">
                                        <br />
                                        <div class="col-md-2">
                                            <img src="images/Habib-Logo1.jpg" height="120" width="140" style="margin: 9px 7px 24px 26px" />
                                        </div>
                                        <div class="col-md-8">
                                            <h1>HABIB INSURANCE COMPANY LIMITED</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="subjectName">
                                                <h1>Dear Rahim,</h1>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="Message">
                                                <p>You are receving this e-mail beacause you have requested for a password reset for your account in the Insurance Portal.Please proceed to the following link to key in your new password.</p>
                                                <p><b><a href="hhtp://habib.insurance-software.info/password/reset/conferm/MTQ0/4wv-118838a455n5e5dd9d56/" target="_blank">hhtp://habib.insurance-software.info/password/reset/conferm/MTQ0/4wv-118838a455n5e5dd9d56/</a></b></p>
                                                <br />
                                                <p>Please note your password will be reset on a different tab in your browser.In case you are purchasing a new Policy.please return to your previous tab in order to continue with your current process.</p>
                                                <br />
                                                <br />
                                                <p>Thank You.</p>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="CopyRight">
                                                <div class="CopyRightParagraph">
                                                    <p>Copyright &#169; Habib Insurance Company Ltd, All Rights Reserved.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>
</body>
</html>